.activity-list{
    display: flex;
    flex-direction: column;
}

.activity-list-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-list-card{
    margin: 2px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
