.modifyForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-list-top{
    width:95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group{
    float: right;
}
